@import "/normalize.css/normalize.css";

body {
    padding: 0px;
    margin: 0px;
}

.nav {
    margin-left: -80px;
    padding: none;
    list-style: none;
}

.nav ul {
    margin: 0;
}

.nav li {
    float: left;
    list-style: none;
    margin: 0;
}

.nav li a {
    display: block;
    padding: 8px 15px;
    margin: 0;
}

.header-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
}