@import "/normalize.css/normalize.css";

/* Media query <671 */
@media screen and (max-width: 671px) {
  .header-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    }

    .nav {
    margin-left: 0;
    padding: none;
    }

    .nav ul {
        list-style: none;
        padding: 0px;
    }

    .nav ul li {
        display: block;
        float: left;
        padding: 8px 20px;
    }

    .nav ul li a {
        text-decoration: none;
    }
  }

  /* End of Media query <671 */

  /* Media query >671 */
@media screen and (min-width: 673px) {
  .header-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    }

    .nav {
    margin-left: -40px;
    padding: none;
    }

    .nav ul {
        list-style: none;
        padding: 0px;
    }

    .nav ul li {
        display: block;
        float: left;
        padding: 8px 15px;
    }

    .nav ul li a {
    text-decoration: none;
    }
  }

  /* End of >671 */

body {
    padding: 0px;
    margin: 0px;
}


